
<form name="input">Log This: <input type="text" name="log"><br></form>
<div class='album-container container'>
  <div class='album-header-container row'>
    <div class='col-md-3'>
      <img ng-src="{{ album.image }}" />
    </div>

    <div class='album-header-information col-md-8 col-md-push-1'>
      <h3 class='album-title'> {{ album.title }}</h3>
      <h4 class='album-artist'> {{ album.author }}</h4>
      <h5 class='album-description'> {{ album.description }}</h5>
    </div>
  </div>

  <div class='row'>
    <table class='album-song-listing table'>
      <tr>
        <td class="no-lines song-number col-md-1"> No. </td>
        <td class="no-lines col-md-9"> Title </td>
        <td class="no-lines col-md-2"> Length </td>
      </tr>
      <tr ng-class="{red: isOdd(song)}" ng-repeat="song in album.songs" ng-mouseenter="onHoverSong(song)" ng-mouseleave="offHoverSong(song)">
        <td class="song-number col-md-1">
          <span ng-switch="getSongState(song)">
            <span ng-switch-when="playing">
              <a class="album-song-button" ng-click="pauseSong(song)">
                <i class="fa fa-pause"></i>
              </a>
            </span>
            <span ng-switch-when="hovered">
              <a class="album-song-button" ng-click="playSong(song)">
                <i class="fa fa-play"></i>
              </a>
            </span>
            <span ng-switch-default>
              {{ song.number }}
            </span>
          </span>
        </td>
        <td class="col-md-9"> {{ song.title }} </td>
        <td class="col-md-2"> {{ song.duration }} </td>
    </table>
  </div>
  <div ui-view="albumPlayerBar"></div>
</div>