<% content_for :body_class, 'collection' %>

<div class="collection-container container">
  <div class='row'>
    <div class="collection-album-container col-md-2">
      <%= image_tag "album-placeholder.png" %>
      <div class="collection-album-info caption">
        <p>
          <a class="album-name" href="#"> The Colours </a>
          <br/>
          <a href="#"> Pablo Picasso </a>
          <br/>
          X songs
          <br/>
        </p>
      </div>
    </div>
  </div>
</div>