/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300);
@import url(http://yui.yahooapis.com/3.17.1/build/cssreset/cssreset-min.css);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  background: -webkit-radial-gradient( #2b1339, #380c77);
  background: radial-gradient( #2b1339, #380c77);
  padding-bottom: 150px;
}

body.landing {
  background: #5B5579;
  padding-bottom: 0;
}

body.landing .navbar {
  margin-bottom: 0;
}

.player-header-nav {
  background-color: rgba(123, 70, 163, .9);
}